# Playing with Data

## Importing packages

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
EPA = pd.read_csv("pollution_us_2000_2016.csv")

In [5]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [6]:
EPA.drop(labels = ["NO2 Units", "O3 Units","SO2 Units", "CO Units"],axis=1)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Mean,...,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,3.000000,9.0,21,13.0,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,3.000000,9.0,21,13.0,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,2.975000,6.6,23,NaN,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,2.975000,6.6,23,NaN,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,...,10,27,1.958333,3.0,22,4.0,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,1.083333,...,18,44,0.000000,0.0,2,NaN,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,-0.022727,0.0,0,0.0,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,-0.022727,0.0,0,0.0,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,0.000000,0.0,5,NaN,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,0.000000,0.0,5,NaN,0.100000,0.100,0,1.0

have dates only be years so we can average

In [7]:
EPA["Date Local"] = EPA["Date Local"].map(lambda x: x[0:4])

In [8]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

## Averaging data

In [24]:
# # finding unique values
state_codes_unique = EPA["State Code"].unique()
state_codes_unique

counties_unique = EPA["County"].unique()
counties_unique

array(['Maricopa', 'Pima', 'Contra Costa', 'Imperial', 'Kern',
       'Los Angeles', 'Orange', 'Riverside', 'Sacramento',
       'San Bernardino', 'San Diego', 'San Francisco', 'Santa Barbara',
       'Santa Cruz', 'Solano', 'Ventura', 'Adams', 'District of Columbia',
       'Cook', 'Marion', 'Linn', 'Sumner', 'Wyandotte', 'Boyd', 'Daviess',
       'Fayette', 'Henderson', 'Jefferson', 'McCracken',
       'East Baton Rouge', 'Wayne', 'Saint Louis', 'St. Louis City',
       'Camden', 'Bronx', 'Queens', 'Suffolk', 'Forsyth', 'Mecklenburg',
       'Cherokee', 'Kay', 'Allegheny', 'Beaver', 'Berks', 'Blair',
       'Bucks', 'Cambria', 'Lackawanna', 'Lancaster', 'Lawrence',
       'Montgomery', 'Northampton', 'Philadelphia', 'Washington',
       'Westmoreland', 'York', 'Dallas', 'El Paso', 'Harris', 'Fairfax',
       'Alexandria City', 'Alameda', 'Saint Clair', 'Clark', 'Essex',
       'Ottawa', 'Kent', 'Hillsborough', 'Haywood', 'Meigs', 'Fresno',
       'Charleston', 'Denver', 'Erie', 'Humboldt', 'New Haven', 'Scott',
       'Aroostook', 'Baltimore', 'Tulsa', 'Dauphin', 'Luzerne',
       'Milwaukee', 'BAJA CALIFORNIA NORTE', 'Pulaski', 'Fairfield',
       'Hartford', 'Polk', "Prince George's", 'Multnomah', 'McLennan',
       'Uinta', 'Cumberland', 'Steuben', 'Cass', 'Adair', 'Blount',
       'Bexar', 'Santa Clara', 'Ada', 'Athens', 'Medina', 'Litchfield',
       'DeKalb', 'Washoe', 'Henrico', 'Hampton City', 'New Castle',
       'Honolulu', 'Anoka', 'Bernalillo', 'Monroe', 'Cuyahoga',
       'Hamilton', 'Oklahoma', 'Providence', 'Minnehaha', 'Salt Lake',
       'Laramie', 'Sweetwater', 'Jackson', 'Travis', 'Duchesne', 'Uintah',
       'Union', 'Roanoke', 'King', 'Fairbanks North Star ', 'Garrett',
       'Rockingham', 'Wake', 'Fremont', 'Richland'], dtype=object)

In [26]:
#how to average i think --> unsure how many of these we want to average (by county)
for county in counties_unique:
    
    avg_CO_1st_Max = EPA.loc[EPA["County"] == county, "CO 1st Max Value"].mean()
    print(county + "\n" + str(avg_CO_1st_Max))

Maricopa
1.1774870132657878
Pima
0.5917996473724951
Contra Costa
0.5771979526246875
Imperial
1.6326104371097236
Kern
1.8493087557603685
Los Angeles
1.108520898255534
Orange
0.6744705463605624
Riverside
0.8995164689508914
Sacramento
0.7863364918866552
San Bernardino
0.5946457480940747
San Diego
1.1835683623557034
San Francisco
0.8132096372196067
Santa Barbara
0.3069314923251163
Santa Cruz
0.45892215568862277
Solano
0.7625733668724751
Ventura
0.516258865248227
Adams
0.8130867213400803
District of Columbia
1.125385273972603
Cook
0.5965950876477784
Marion
0.5361912968548039
Linn
0.325612629594722
Sumner
0.15687103594080337
Wyandotte
0.796223940850948
Boyd
0.3631794272355348
Daviess
0.07452415812591509
Fayette
0.2729232720355104
Henderson
0.44545454545454544
Jefferson
0.5314448266737232
McCracken
0.30406732117812063
East Baton Rouge
0.6348478354050578
Wayne
0.7898668956633748
Saint Louis
0.7977715877437326
St. Louis City
0.7062364271635908
Camden
0.6253924874985464
Bronx
0.7711970404298425
Queens
0.6338034820727018
Suffolk
0.44190570669873236
Forsyth
0.6599382080329557
Mecklenburg
0.5716429463951018
Cherokee
0.10514127585202449
Kay
0.23078750848608284
Allegheny
0.510350544069641
Beaver
0.3591469957081545
Berks
0.36285294597682394
Blair
0.2728100263852243
Bucks
0.3845757149554618
Cambria
0.4437443859874246
Lackawanna
0.39578659370725033
Lancaster
0.47028889477869074
Lawrence
0.5219653179190751
Montgomery
0.3669361358124495
Northampton
0.38278731149245965
Philadelphia
0.6496169535369615
Washington
0.3344646211646838
Westmoreland
0.26392742796157953
York
0.4019152714358194
Dallas
0.5164732547210117
El Paso
0.6727943535276905
Harris
0.4348983584330057
Fairfax
0.6877030441583444
Alexandria City
0.42226066897347175
Alameda
0.8138533014219345
Saint Clair
0.6619245647969052
Clark
0.11559405940594059
Essex
0.6872393538913363
Ottawa
0.09994652406417114
Kent
0.5936435868331441
Hillsborough
0.49059289340101525
Haywood
1.0
Meigs
1.0
Fresno
0.6429924192915959
Charleston
0.17355140186915888
Denver
0.8332601165835938
Erie
0.33537110075295806
Humboldt
0.38900571551817104
New Haven
0.45528251643505036
Scott
0.3056582018725151
Aroostook
0.21245254174397032
Baltimore
0.5734997722787307
Tulsa
0.48944788533003014
Dauphin
0.30765027322404376
Luzerne
0.33012422360248456
Milwaukee
0.5591029023746701
BAJA CALIFORNIA NORTE
1.9854102671996634
Pulaski
0.5585142080833239
Fairfield
0.3178003331746787
Hartford
0.3917807402760351
Polk
0.34996099843993766
Prince George's
0.33641224268689063
Multnomah
0.5477526708495846
McLennan
0.16126602564102566
Uinta
0.18400297619047618
Cumberland
0.4451127315727237
Steuben
0.17483569682151592
Cass
0.22169685968415323
Adair
0.21439384528514965
Blount
0.20440664318067442
Bexar
0.4194180351483723
Santa Clara
0.5873598008385744
Ada
0.32357549234135674
Athens
0.3660792951541851
Medina
0.4317241379310344
Litchfield
0.22762632869991825
DeKalb
0.5240287490287491
Washoe
0.5090357437448446
Henrico
0.3946780455153949
Hampton City
0.34102455546147326
New Castle
0.4010247933884298
Honolulu
0.42674635036496356
Anoka
0.34723383923552553
Bernalillo
0.4012124824684432
Monroe
0.2846271477663231
Cuyahoga
0.44762270895619394
Hamilton
0.36303010948905107
Oklahoma
0.2560756972111554
Providence
0.33554712207463633
Minnehaha
0.2764299768518519
Salt Lake
0.6470303951367781
Laramie
0.10248973854371661
Sweetwater
0.41448648648648645
Jackson
0.17650526315789472
Travis
0.18341013824884791
Duchesne
0.13076923076923078
Uintah
0.42439516129032256
Union
0.17037749287749288
Roanoke
0.3178373382624769
King
0.28863617463617464
Fairbanks North Star
0.6775987841945288
Garrett
0.20332550335570468
Rockingham
0.2325436507936508
Wake
0.42795081967213117
Fremont
0.0
Richland
0.2810344827586208

# County data

In [11]:
county_income = pd.read_excel("est20all.xls", header =3, usecols=[0,1,2,3,22])

In [12]:
county_income.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,Median Household Income
0,0,0,US,United States,67340
1,1,0,AL,Alabama,53958
2,1,1,AL,Autauga County,67565
3,1,3,AL,Baldwin County,71135
4,1,5,AL,Barbour County,38866

## Merging data

In [13]:
county_income = county_income.rename(columns={"State FIPS Code":"State Code","County FIPS Code":"County Code"})
county_income.head()

   State Code  County Code Postal Code            Name Median Household Income
0           0            0          US   United States                   67340
1           1            0          AL         Alabama                   53958
2           1            1          AL  Autauga County                   67565
3           1            3          AL  Baldwin County                   71135
4           1            5          AL  Barbour County                   38866

In [14]:
EPA = pd.merge(EPA, county_income[["State Code","County Code","Median Household Income"]],on = ["State Code","County Code"], how = "left")

In [15]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Median Household Income
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN,71799
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,71799
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN,71799
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0,71799
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN,71799

In [16]:
county_income.loc[(county_income["State Code"]==4) & (county_income["County Code"] == 13)]

,State Code,County Code,Postal Code,Name,Median Household Income
108,4,13,AZ,Maricopa County,71799

they match!