# Playing with Data

## Importing packages

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
EPA = pd.read_csv("pollution_us_2000_2016.csv")

In [5]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

In [6]:
EPA.drop(labels = ["NO2 Units", "O3 Units","SO2 Units", "CO Units"],axis=1)

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Mean,...,O3 1st Max Hour,O3 AQI,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,3.000000,9.0,21,13.0,1.145833,4.200,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,3.000000,9.0,21,13.0,0.878947,2.200,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,2.975000,6.6,23,NaN,1.145833,4.200,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-01,19.041667,...,10,34,2.975000,6.6,23,NaN,0.878947,2.200,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000-01-02,22.958333,...,10,27,1.958333,3.0,22,4.0,0.850000,1.600,23,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1746656,24599,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-30,1.083333,...,18,44,0.000000,0.0,2,NaN,0.091667,0.100,2,1.0
1746657,24600,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,-0.022727,0.0,0,0.0,0.067714,0.127,0,NaN
1746658,24601,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,-0.022727,0.0,0,0.0,0.100000,0.100,0,1.0
1746659,24602,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,0.000000,0.0,5,NaN,0.067714,0.127,0,NaN
1746660,24603,56,21,100,NCore - North Cheyenne Soccer Complex,Wyoming,Laramie,Not in a city,2016-03-31,0.939130,...,9,44,0.000000,0.0,5,NaN,0.100000,0.100,0,1.0

have dates only be years so we can average

In [7]:
EPA["Date Local"] = EPA["Date Local"].map(lambda x: x[0:4])

In [8]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Units,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,Parts per billion,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN

## Averaging data

In [17]:
# # finding unique values
state_codes_unique = EPA["State Code"].unique()
state_codes_unique

array([ 4,  6,  8, 11, 12, 17, 18, 20, 21, 22, 26, 29, 34, 36, 37, 40, 42,
       48, 51, 25, 32, 33, 47, 45,  9, 19, 23, 24, 55, 80,  5, 41, 56, 38,
       16, 39, 13, 10, 15, 27, 35, 44, 46, 49,  1, 53,  2])

In [23]:
#how to average i think --> unsure how many of these we want to average
for num in state_codes_unique:
    avg_CO_1st_Max = EPA.loc[EPA["State Code"] == num, "CO 1st Max Value"].mean()
    print(str(num) + "\n" + str(avg_CO_1st_Max))

4
0.9824759306987401
6
0.7692837876773433
8
0.8142804365124475
11
1.125385273972603
12
0.5744324407747511
17
0.6235528174634848
18
0.5361912968548039
20
0.6501192185514613
21
0.3728564619365382
22
0.643143168300243
26
0.705353214373014
29
0.74611239761351
34
0.6474502468951071
36
0.5699687318228893
37
0.5639846468781985
40
0.2791784718187101
42
0.4169135961290049
48
0.48864066456723587
51
0.522134863544012
25
0.5260426478768775
32
0.41069560734172
33
0.494147622121799
47
0.45880041081821293
45
0.17545899632802942
9
0.3666469448434838
19
0.3232353578336557
23
0.3123990179062778
24
0.452258645594358
55
0.5591029023746701
80
1.9854102671996634
5
0.5585142080833239
41
0.5477526708495846
56
0.15255303494788472
38
0.22169685968415323
16
0.32357549234135674
39
0.4233769948548007
13
0.5240287490287491
10
0.4010247933884298
15
0.42674635036496356
27
0.34723383923552553
35
0.4012124824684432
44
0.33554712207463633
46
0.25852501202501205
49
0.5898777111213659
1
0.4073864363403711
53
0.28863617463617464
2
0.6775987841945288

# County data

In [11]:
county_income = pd.read_excel("est20all.xls", header =3, usecols=[0,1,2,3,22])

In [12]:
county_income.head()

,State FIPS Code,County FIPS Code,Postal Code,Name,Median Household Income
0,0,0,US,United States,67340
1,1,0,AL,Alabama,53958
2,1,1,AL,Autauga County,67565
3,1,3,AL,Baldwin County,71135
4,1,5,AL,Barbour County,38866

## Merging data

In [13]:
county_income = county_income.rename(columns={"State FIPS Code":"State Code","County FIPS Code":"County Code"})
county_income.head()

   State Code  County Code Postal Code            Name Median Household Income
0           0            0          US   United States                   67340
1           1            0          AL         Alabama                   53958
2           1            1          AL  Autauga County                   67565
3           1            3          AL  Baldwin County                   71135
4           1            5          AL  Barbour County                   38866

In [14]:
EPA = pd.merge(EPA, county_income[["State Code","County Code","Median Household Income"]],on = ["State Code","County Code"], how = "left")

In [15]:
EPA.head()

,Unnamed: 0,State Code,County Code,Site Num,Address,State,County,City,Date Local,NO2 Units,...,SO2 Mean,SO2 1st Max Value,SO2 1st Max Hour,SO2 AQI,CO Units,CO Mean,CO 1st Max Value,CO 1st Max Hour,CO AQI,Median Household Income
0,0,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,1.145833,4.2,21,NaN,71799
1,1,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,3.000000,9.0,21,13.0,Parts per million,0.878947,2.2,23,25.0,71799
2,2,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,1.145833,4.2,21,NaN,71799
3,3,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,2.975000,6.6,23,NaN,Parts per million,0.878947,2.2,23,25.0,71799
4,4,4,13,3002,1645 E ROOSEVELT ST-CENTRAL PHOENIX STN,Arizona,Maricopa,Phoenix,2000,Parts per billion,...,1.958333,3.0,22,4.0,Parts per million,0.850000,1.6,23,NaN,71799

In [16]:
county_income.loc[(county_income["State Code"]==4) & (county_income["County Code"] == 13)]

,State Code,County Code,Postal Code,Name,Median Household Income
108,4,13,AZ,Maricopa County,71799

they match!